{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Post a New Job</h1>
    <div class="row mt-4">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                <p>
  <label for="title">Title:</label>
  <input type="text" name="title" required class="form-control" id="title" value="{{ template_data.post.title }}">
</p>

<p>
  <label for="company">Company:</label>
  <input type="text" name="company" required class="form-control" id="company" value="{{ template_data.post.company }}">
</p>

<p>
  <label for="description">Description:</label>
  <textarea name="description" required class="form-control" id="description">{{ template_data.post.description }}</textarea>
</p>

<p>
  <label for="location">Location:</label>
  <input type="text" name="location" required class="form-control" id="location" value="{{ template_data.post.location }}">
</p>

<p>
  <label for="salary_range">Salary Range:</label>
  <input type="text" name="salary_range" required class="form-control" id="salary_range" value="{{ template_data.post.salary_range }}">
</p>
<!-- un-comment this once someone figures out how to make this a drop-down for the yes/no options
<p>
  <label for="visa_sponsorship">Visa Sponsorship:</label>
  <input type="text" name="visa_sponsorship" required class="form-control" id="salary_range" value="{{ template_data.post.visa_sponsorship }}">
</p>-->

                <button type="submit" class="btn btn-primary">Post Job</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
