{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Available Jobs</h1>
    <div class="row mt-4">
        {% for post in posts %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.company }}</h6>
                    <p class="card-text">{{ post.description|truncatewords:30 }}</p>
            {% if user.is_authenticated and user == post.recruiter %}

            <a class="btn btn-info"
                       href="{% url 'recruiters.detail' id=post.id %}">
                       View
                    </a>

            <a class="btn btn-primary"

              href="{% url 'recruiters.edit' id=post.id %}">Edit

            </a>

            <a class="btn btn-danger"

              href="{% url 'recruiters.delete' id=post.id %}">Delete

            </a>

            {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
